* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
}

.details {
  font-size: 0.9em;
  color: #666;
}

.options-section {
  display: flex;
  justify-content: space-between;
}
